@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply dark:bg-slate-800 dark:text-white;
  }
}
@layer components {
  .dateSelect {
    @apply dark:bg-gradient-to-l dark:from-blue-700 dark:via-blue-800 py-2 dark:to-gray-900 bg-gradient-to-r shadow-md from-blue-100 via-blue-200 to-blue-300 bg-opacity-40;
  }
  .selectSports {
    @apply bg-gradient-to-r from-gray-100 to-gray-300 dark:from-blue-700 dark:via-blue-800  dark:to-gray-900;
  }
  .displayGmaes {
    @apply;
  }
}
/* body {
  color: white;
  background-color: #111827;
} */

/* @layer utilities {
  .box-register::before {
    @apply content-['']  absolute bg-[conic-gradient(#dd6b20_120deg,transparent_120deg)] w-[110px] h-[90px] top-[-25%] left-[-20%] animate-fullSpin;
  }
  .box-register::after {
    @apply content-[""] rounded-lg text-white w-[94%] h-[94%] bg-[#1b2d58] absolute top-[3%] left-[3%] flex justify-center items-center uppercase tracking-[2px] font-medium;
  }
}
@layer utilities {
  .box-sports::before {
    @apply content-['']  absolute bg-[conic-gradient(#b0c4de_120deg,transparent_120deg)] w-[110px] h-[90px] top-[-25%] left-[-20%] animate-fullSpin;
  }
  .box-sports::after {
    @apply content-[""] rounded-lg text-white w-[94%] h-[94%] bg-[#1b2d58] absolute top-[3%] left-[3%] flex justify-center items-center uppercase tracking-[2px] font-medium;
  }
}
@layer utilities {
  .box-casino::before {
    @apply content-['']  absolute bg-[conic-gradient(#dda0dd_120deg,transparent_120deg)] w-[110px] h-[90px] top-[-25%] left-[-20%] animate-fullSpin;
  }
  .box-casino::after {
    @apply content-[""] rounded-lg text-[#dda0dd] w-[94%] h-[94%] bg-[#1b2d58] absolute top-[3%] left-[3%] flex justify-center items-center uppercase tracking-[2px] font-medium;
  }
}
@layer utilities {
  .box-promo::before {
    @apply content-['']  absolute bg-[conic-gradient(#ffff00_120deg,transparent_120deg)] w-[110px] h-[90px] top-[-25%] left-[-20%] animate-fullSpin;
  }
  .box-promo::after {
    @apply content-[""] rounded-lg text-[#ffff00] w-[94%] h-[94%] bg-[#1b2d58] absolute top-[3%] left-[3%] flex justify-center items-center uppercase tracking-[2px] font-medium;
  }
} */

.hidden {
  /* display: none; */
  top: -80px;
  transition: top 0.4s ease-out;
}

header {
  transition: all 0.5s ease-in-out;
}
